<app-top-nav></app-top-nav>
<app-navigation></app-navigation>
<app-subscribe></app-subscribe>
<app-footer></app-footer>

<div class="row" *ngIf="userClaims">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <span>Username :{{userClaims.UserName}}</span>
        <br>
        <span>Email : {{userClaims.Email}}</span>
        <br>
        <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
        <br>
        <span>Logged On : {{userClaims.LoggedOn}}</span>
      </div>
    </div>
  </div>
</div>