<section class="top-header">
  <div class="container">
      <div class="col-xs-6 col-md-6 top-user">
          <!-- <div class="user-name">
              <p>Welcome to BookStore</p>
          </div> -->
      </div>
      <div class="col-xs-6 col-md-6  mainmenu">
          <nav>
              <ul>
                  <li>
                      <a href="/signup">Register</a>
                  </li>
                  <li>
                      <a href="/login">Login</a>
                  </li>

              </ul>
          </nav>
      </div>
  </div>
</section>
