 .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
  }


/* Extra small devices (portrait phones, less than 576px)----*/
@media (max-width: 575.98px) { 
    .form-signin{
        margin-top: 0px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .form-signin{
        margin-top: 5px;
    }
}
