<app-top-nav></app-top-nav>
<app-navigation></app-navigation>

<form #signInForm="ngForm" class="form-signin" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
  <div class="text-center mb-4">
    <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h1 mb-3 font-weight-normal">Sign In</h1>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputUserName" ngModel #UserName name="UserName" class="form-control" placeholder="UserName" required autofocus>
    <label for="inputUserName">User Name</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" ngModel #Password name="Password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button [disabled]="!signInForm.valid" class="btn btn-lg btn-success btn-block" type="submit">Sign in!</button>
</form>