<app-top-nav></app-top-nav>
<app-navigation></app-navigation>

<form class="form-signup" novalidate [formGroup]="signUpForm" (submit)="submitForm($event);">
  <div class="text-center mb-4">
    <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h1 mb-3 font-weight-normal">Sign Up</h1>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputUserName" class="form-control" placeholder="UserName" formControlName="userName">
    <label for="inputUserName">User Name</label>
    <div class="error" *ngIf="signUpForm.get('userName').hasError('required') && signUpForm.get('userName').touched">
      Name is required
    </div>
    <div class="error" *ngIf="signUpForm.get('userName').hasError('minlength') && signUpForm.get('userName').touched">
      Minimum of 2 characters
    </div>
    <div class="error" *ngIf="signUpForm.get('userName').hasError('maxlength') && signUpForm.get('userName').touched">
      Maximum of 15 characters
    </div>
  </div>
  
  <div formGroupName="passwords">
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"  formControlName="password">
      <label for="inputPassword">Password</label>
      <div class="error" *ngIf="signUpForm.get('passwords').get('password').hasError('required') && signUpForm.get('passwords').get('password').touched">
        Password is required
      </div>
      <div class="error" *ngIf="signUpForm.get('passwords').get('password').hasError('minlength') && signUpForm.get('passwords').get('password').touched">
        Minimum of 6 characters
      </div>
      <div class="error" *ngIf="signUpForm.get('passwords').get('password').hasError('maxlength') && signUpForm.get('passwords').get('password').touched">
        Maximum of 20 characters
      </div>
    </div>
    

    <div class="form-label-group">
      <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="PasswordConfirm"  formControlName="passwordConfirm">
      <label for="inputPasswordConfirm">Password Confirm</label>
      <div class="error" *ngIf="signUpForm.get('passwords').get('passwordConfirm').hasError('required') && signUpForm.get('passwords').get('passwordConfirm').touched">
        Password Confirm is required
      </div>
      <div class="error" *ngIf="signUpForm.get('passwords').get('passwordConfirm').hasError('minlength') && signUpForm.get('passwords').get('passwordConfirm').touched">
        Minimum of 6 characters
      </div>
      <div class="error" *ngIf="signUpForm.get('passwords').get('passwordConfirm').hasError('maxlength') && signUpForm.get('passwords').get('passwordConfirm').touched">
        Maximum of 20 characters
      </div>
      <div class="error" *ngIf="signUpForm.get('passwords').hasError('nomatch') && signUpForm.get('passwords').get('password').touched && signUpForm.get('passwords').get('passwordConfirm').touched">
        Passwords are not equal
      </div>
    </div>
    
  </div>

  <div class="form-label-group">
    <input type="text" id="inputEmail" class="form-control" placeholder="Email"  formControlName="email">
    <label for="inputEmail">Email</label>
    <div class="error" *ngIf="signUpForm.get('email').hasError('required') && signUpForm.get('email').touched">
      Email is required
    </div>
    <div class="error" *ngIf="signUpForm.get('email').hasError('pattern') && signUpForm.get('email').touched">
      Email are not correct
    </div>
  </div>
  
  <div class="form-label-group">
    <input type="text" id="inputFirstName" class="form-control" placeholder="FirstName"  formControlName="firstName">
    <label for="inputFirstName">First Name</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputLastName" class="form-control" placeholder="LastName"  formControlName="lastName">
    <label for="inputLastName">Last Name</label>
  </div>

  <button [disabled]="!signUpForm.valid" class="btn btn-lg btn-success btn-block" type="submit">Sign Up!</button>
</form>