.error {
    padding-left: 12px;
    color: red;
    font-size: 14px;
}

.form-signup {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
  }
  
/* Extra small devices (portrait phones, less than 576px)----*/
@media (max-width: 575.98px) { 
    .form-signup{
        margin-top: 0px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .form-signup{
        margin-top: 5px;
    }
}
